
GEMINI_API_KEY="votre-cle-gemini"

# URLs
APP_URL="http://localhost:3000"
SITE_URL="http://localhost:3000"


JWT_SECRET="change-this-to-a-secure-random-string-min-32-chars"

ADMIN_EMAIL="votre-email@example.com"
ADMIN_PASSWORD="MOT DE PASSE "
DATABASE_URL="postgresql://user:password@host:port/database?sslmode=require"

BREVO_API_KEY="votre-cle-brevo"
BREVO_SENDER_EMAIL="noreply@votredomaine.com"
